<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233122220835-k8eiebdbri02l7grfhs69b49stq56tam.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233122220835-k8eiebdbri02l7grfhs69b49stq56tam</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>233122220835-c1itstl9r0d4u6e2l1rk3sajc96ib783.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD6RzdGbHawsfIivV1rArpzAFi_597k6SY</string>
	<key>GCM_SENDER_ID</key>
	<string>233122220835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DinPran.dinchat.dinchat</string>
	<key>PROJECT_ID</key>
	<string>dinchat-66909</string>
	<key>STORAGE_BUCKET</key>
	<string>dinchat-66909.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233122220835:ios:b5e5775bb3e61d6b3e9a96</string>
</dict>
</plist>